Txt files/step-function-script.txt
{
  "Comment": "Image Processing Step Function",
  "StartAt": "S3ImageUploadTrigger",
  "States": {
    "S3ImageUploadTrigger": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:266747933355:function:S3_Image_Upload_Trigger",
        "Payload": {
          "Input.$": "$"
        }
      },
      "Next": "ImageProcessing"
    },
    "ImageProcessing": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "Image_Processing",
        "Payload.$": "$.arn:aws:lambda:us-east-1:266747933355:function:Image_Processing.Payload"
      },
      "End": true
    }
  }
}


Call one lambda from another - working->>>>>>>>>>>>
{
  "Comment": "Image Processing and Email Workflow",
  "StartAt": "TriggerImageProcessing",
  "States": {
    "TriggerImageProcessing": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:266747933355:function:S3_Image_Upload_Trigger",
      "Next": "ProcessImage"
    },
    "ProcessImage": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:266747933355:function:Image_Processing",
      "End": true
    }
  }
}

