Cloud Formation Files/StepFunction/StateMachineDefinition.json
{
  "Comment": "Image Processing and Annotation Workflow",
  "StartAt": "TriggerImageProcessing",
  "States": {
    "TriggerImageProcessing": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:266747933355:function:S3_Image_Upload_Trigger",
      "Next": "ParallelDetection"
    },
    "ParallelDetection": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "ProcessFacialAnalysis",
          "States": {
            "ProcessFacialAnalysis": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "Payload.$": "$",
                "FunctionName": "arn:aws:lambda:us-east-1:266747933355:function:ProcessFacialAnalysis:$LATEST"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "ProcessCelebrities",
          "States": {
            "ProcessCelebrities": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "Payload.$": "$",
                "FunctionName": "arn:aws:lambda:us-east-1:266747933355:function:ProcessCelebrities:$LATEST"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "ProcessLabels",
          "States": {
            "ProcessLabels": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:266747933355:function:Image_Processing",
              "End": true
            }
          }
        },
        {
          "StartAt": "GetObjectKey",
          "States": {
            "GetObjectKey": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "Payload.$": "$",
                "FunctionName": "arn:aws:lambda:us-east-1:266747933355:function:GetObjectKey:$LATEST"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "End": true
            }
          }
        }
      ],
      "Next": "FormProcessingReport"
    },
    "FormProcessingReport": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:266747933355:function:FormProcessingReport",
      "Next": "NotifyUsersWithResults"
    },
    "NotifyUsersWithResults": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:266747933355:function:SendNotificationWithResults:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "End": true
    }
  }
}